{% load staticfiles %}

<!DOCTYPE HTML>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}">
    </head>
    <body>
        <header>
            <a href="/">
                <div class="logo">
                    <img src="{% static "img/pong-up-logo.png" %}" alt="PONGup Logo" />
                </div>
            </a>
        </header>
        <div class="container">
            <h1>PONGup</h1>
            <div id="react-pongup-app-container"></div>
        </div>
        <script src="{% static "js/min-js/bundle.js" %}"></script>
        <script>
            pongup.init();
        </script>
        
    </body>
</html>