{% load staticfiles %}

<!DOCTYPE HTML>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}">
    </head>
    <body>

        <div class="super-wrapper">
            <header>
                <a href="/">
                    <div class="logo">
                        <img src="{% static "img/pong-up-logo-white.png" %}" alt="PONGup Logo" />
                    </div>
                </a>
                <form  class="kinzie-form kinzie-dark" action="." method="post" id="contact_form">
                    {% csrf_token %}
                </form>
                <ul>
                    <li><a href="/ladders">ladders</a></li>
                    {% if user.is_authenticated %}
                        <li class="dropdown-container">
                            <a href="#profile" id="dropdown-toggle"><img src="{% static "img/user-icon.png" %}">{{ user.username }}</a>
                            <div id="dropdown-container">
                                <div class="dropdown-close" id="dropdown-close"></div>
                                <ul class="dropdown" id="dropdown">
                                    <div class="horizontal-divider dropdown-top-border"></div>
                                    {#<li><a href="/ladders">my ladders</a></li>#}
                                    {#<li><a href="#profile">profile</a></li>#}
                                    {#<div class="clearfix"></div>#}
                                    {#<div class="horizontal-divider"></div>#}
                                    <li><a href="/logout">logout</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    {% else %}
                        <li class="sign-up"><a href="/signup">Sign up</a></li>
                        <li class="log-in"><a href="/login">Log in</a></li>
                    {% endif %}
                </ul>
            </header>

            <div class="container">
                {% block content %}
                    <div id="react-pongup-app-container"></div>
                {% endblock %}
                <div class="clearfix"></div>
            </div>
            

            <footer>
                <div>&#169; PONGup 2016</div>
            </footer>
        </div>

        <script src="{% static "js/min-js/bundle.js" %}"></script>
        <script>
            pongup.init();
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-79451408-1', 'auto');
          ga('send', 'pageview');

        </script>
        
    </body>
</html>