{% extends "homepage.html" %}

{% block content %}
<div class="homepage">
    <div class="form-wrapper login">
        {% if form.errors %}
        <p class="error">Something went wrong. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p class="error">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p class="error">Please login to see this page.</p>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}

        	<p>You are currently logged in as:</p>
        	<h5 class="logged-in-username" >{{ user.username }}</h5>
        	<p class="p2">If you would like to create a new account, you must logout first</p>

        	<a class="primary auth-form" href="/logout">Logout</a>

        {% else %}
	        <form method="post" action="/signup/">
	        {% csrf_token %}

			{{ form.username }}
			{{ form.email }}
	        {{ form.password1 }}
	        {{ form.password2 }}

	        <input type="submit" value="Create account" />
	        <input type="hidden" name="next" value="/" />
	        </form>
        {% endif %}



        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a class="secondary-link lost-password" style="display:none" href="{% url 'password_reset' %}">Lost password?</a></p>
        
    </div>
</div>

{% endblock %}