/*$backgroundBlue: #001e40;*/
$backgroundBlue: #001B39;
/*$footerBlue: #013878;*/
/*$footerBlue: #01244B;*/
$footerBlue: #002f62;
$blueText: #0079fd;
$hoverBlue: #024288;
$hoverTextBlue: #5CA7F9;
$footerTextColor: #01438D;
$orange: #dd540c;
$yellow: #fee042;

$formFieldLightBlue: #59a8fe;
$formFieldTextBlue: #0d80fd;

$secondaryButtonBlue: #013e81;


$mutedTextBlue: #1c3c5f;

$pongupYellow: #fddb40;
$pongupOrange: #fddb40;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.9em;
    font-weight: bold;
}

h4 {
    font-size: 1.6em;
    font-weight: bold;
}

h5 {
    font-size: 1.3em;
    font-weight: bold;
}

h6 {
    font-size: 1.0em;
    font-weight: bold;
}

h5.form-header {
    padding-bottom: 20px;
}

p.p2 {
    font-size: 0.8em;
}

h5.logged-in-username {
    padding-top: 15px;
    padding-bottom: 35px;
    color: $yellow;
}

.super-wrapper {
    min-height: 100%;
    position: relative;
    background-color: $backgroundBlue;
    padding-bottom: 1px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: $footerBlue;
    z-index: 50000;
    box-shadow: 0 5px 15px black;
    ul {
        position: absolute;
        right: 0;
        height: 55px;
        top: 0;
        li {
            height: 55px;
            line-height: 55px;
            float: left;
            &:hover {
                background-color: $hoverBlue;
                a {
                    color: $hoverTextBlue;
                }
            }
            &.sign-up a, &.log-in a{
                padding-right: 15px;
                padding-left: 15px;
            }
            &.sign-up {
                text-shadow: 1px 1px 1px #F0BA85;
                background: $orange; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
                background: linear-gradient($yellow, $orange); /* Standard syntax */
                a {
                    color: black;
                }
                &:hover {
                    background: $orange; /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient($orange, $yellow); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient($orange, $yellow); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient($orange, $yellow); /* For Firefox 3.6 to 15 */
                    background: linear-gradient($orange, $yellow); /* Standard syntax */
                }
            }
            a {
                line-height: 55px;
                height: 55px;
                display: block;
                padding-right: 30px;
                padding-left: 30px;
                color: $blueText;
                img {
                    width: 30px;
                    position: relative;
                    top: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.container {
    width: 100%;

    /*height: 100%;*/
    min-height: 100%;

    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 200px;
    color: white;
}

.clearfix {
    clear: both;
}

footer {
    width: 100%;
    height: 50px;
    padding: 75px;
    background-color: $footerBlue;

    position: absolute;
    bottom: 0;

    color: $footerTextColor;
}

a {
    text-decoration: none;
    color: white;
    &.primary {
        padding: 8px 45px;
        background: $orange; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
        background: linear-gradient($yellow, $orange); /* Standard syntax */
        color: black;
        text-shadow: 1px 1px 1px #F0BA85;
        &.auth-form {
            display: block;
            width: 300px;
            padding: 15px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        &:hover {
            background: $orange; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient($orange, $yellow); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient($orange, $yellow); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient($orange, $yellow); /* For Firefox 3.6 to 15 */
            background: linear-gradient($orange, $yellow); /* Standard syntax */
        }
        &.submit-btn {
            padding: 3px 25px;
        }
    }
    &.secondary {
        padding: 8px 45px;
        background: $secondaryButtonBlue;
        color: $formFieldLightBlue;
        &:hover {
            background: $hoverBlue;
            color: $backgroundBlue;
        }
    }
}

.logo {
    position: relative;
}

.logo img {
    width: 140px;
    position: absolute;
    top: 7px;
    left: 20px;
}

.test-2 {
    background: blue;
}

.homepage {
    width: 100%;
    min-height: 750px;
    background-image: url('../img/backhand.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: 2%;
    position: relative;
    &.react-container {
        background-image: none;
    }
}

.homepage-cta {
    position: absolute;
    top: 500px;
    left: 800px;
    box-shadow: 5px 5px 10px #001429;
}

.container-1600 {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 75px;
}

.ladder-detail-header {
    width: 92.5%;
    padding-left: 3.75%;
    padding-right: 3.75%;
    padding-bottom: 50px;
}

.ladder-rank-list, .scheduled-matches-container {
    padding-bottom: 7px;
    a, p {
        color: $formFieldLightBlue;
        font-size: 24px;
        display: inline-block;
    }
}

.scheduled-matches-list {
    position: relative;
    a.primary.submit-btn {
        position: absolute;
        right: 90px;
        bottom: 15px;
    }
    li {
        position: relative;
        padding-bottom: 20px;
    }
}

.scheduled-matches-container {
    p.seed, p.player-name {
        margin-right: 10px;
    }
    input {
        background-color: $mutedTextBlue;
        border: none;
        padding: 3px 8px;
        color: $formFieldLightBlue;
        width: 40px;
        position: relative;
        top: -3px;
        font-size: 15px;
        margin-right: 10px;
        text-align: center;
        &.error {
            border: 2px solid red;
        }
        &::-webkit-input-placeholder {
            color:    $backgroundBlue;
        }
        &:-moz-placeholder {
            color:    $backgroundBlue;
        }
        &::-moz-placeholder {
            color:    $backgroundBlue;
        }
        &:-ms-input-placeholder {
            color:    $backgroundBlue;
        }
    }
}

p.rank {
    display: inline-block;
    float: left;
    width: 35px;
}

.header-label, p.seed {
    color: $mutedTextBlue;
}

.header-label {
    padding-bottom: 7px;
    &.category {
        padding-bottom: 20px;
    }
}

.ladder-name {
    color: $formFieldLightBlue;
}

.left-wrapper, .right-wrapper {
    width: 43.75%;
    min-height: 100px;
    float: left;
}

.left-wrapper {
    padding-left: 3.75%;
    padding-right: 2.5%;
}

.right-wrapper {
    padding-left: 2.5%;
    padding-right: 3.75%;
}

.form-wrapper {
    width: 330px;
    /*height: 360px;*/
    position: absolute;
    top: 75px;
    right: 17%;
    background-color: $footerBlue;
    padding: 55px;
    box-shadow: 10px 10px 15px $backgroundBlue;
    &.login {

    }
    a.secondary-link {
        color: $formFieldLightBlue;
        padding-bottom: 10px;
        display: block;
        font-size: 14px;
        &.lost-password {
            position: relative;
            top: -50px;
            float: right;
            color: #024da0;
            &:hover {
                color: $formFieldLightBlue;
            }
        }
    }
    a.secondary {
        width: 300px;
        padding: 15px;
        font-size: 16px;
        display: block;
        text-align: center;
    }
    input {
        background-color: $formFieldLightBlue;
        color: $backgroundBlue;
        border: none;
        width: 300px;
        display: block;
        padding: 15px;
        margin-bottom: 40px;
        font-size: 16px;
        &[type="submit"] {
            cursor: pointer;
            margin-right: 0;
            width: 330px;
            background: $orange; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
            background: linear-gradient($yellow, $orange); /* Standard syntax */
            color: black;
            text-shadow: 1px 1px 1px #F0BA85;
            margin-bottom: 60px;
            &:hover {
                background: $orange; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient($orange, $yellow); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient($orange, $yellow); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient($orange, $yellow); /* For Firefox 3.6 to 15 */
                background: linear-gradient($orange, $yellow); /* Standard syntax */
            }
        }
        &::-webkit-input-placeholder {
            color:    $formFieldTextBlue;
        }
        &:-moz-placeholder {
            color:    $formFieldTextBlue;
        }
        &::-moz-placeholder {
            color:    $formFieldTextBlue;
        }
        &:-ms-input-placeholder {
            color:    $formFieldTextBlue;
        }
    }
}

.pongup-soon {
    padding-bottom: 20px;
}

.error {
    position: absolute;
    top: 22px;
    color: red;
    font-size: 11px;
}
