/*$backgroundBlue: #001e40;*/
$backgroundBlue: #001B39;
/*$footerBlue: #013878;*/
/*$footerBlue: #01244B;*/
$footerBlue: #002f62;
$blueText: #0079fd;
$hoverBlue: #024288;
$hoverTextBlue: #5CA7F9;
$footerTextColor: #01438D;
$orange: #dd540c;
$yellow: #fee042;

$formFieldLightBlue: #59a8fe;
$formFieldTextBlue: #0d80fd;

$secondaryButtonBlue: #013e81;


/*$mutedTextBlue: #1c3c5f;*/
$mutedTextBlue: #2d5c8e;

$pongupYellow: #fddb40;
$pongupOrange: #fddb40;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.9em;
    font-weight: bold;
}

h4 {
    font-size: 1.6em;
    font-weight: bold;
}

h5 {
    font-size: 1.3em;
    font-weight: bold;
}

h6 {
    font-size: 1.0em;
    font-weight: bold;
}

h5.form-header {
    padding-bottom: 20px;
}

p.p2 {
    font-size: 0.8em;
}

h5.logged-in-username {
    padding-top: 15px;
    padding-bottom: 35px;
    color: $yellow;
}

.super-wrapper {
    min-height: 100%;
    position: relative;
    background-color: $backgroundBlue;
    padding-bottom: 1px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: $footerBlue;
    z-index: 50000;
    box-shadow: 0 5px 15px black;
    ul {
        position: absolute;
        right: 0;
        height: 55px;
        top: 0;
        li {
            height: 55px;
            line-height: 55px;
            float: left;
            &:hover {
                background-color: $hoverBlue;
                a {
                    color: $hoverTextBlue;
                }
            }
            &.sign-up a, &.log-in a{
                padding-right: 15px;
                padding-left: 15px;
            }
            &.sign-up {
                text-shadow: 1px 1px 1px #F0BA85;
                background: $orange; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
                background: linear-gradient($yellow, $orange); /* Standard syntax */
                a {
                    color: black;
                }
                &:hover {
                    background: $orange; /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient($orange, $yellow); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient($orange, $yellow); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient($orange, $yellow); /* For Firefox 3.6 to 15 */
                    background: linear-gradient($orange, $yellow); /* Standard syntax */
                }
            }
            a {
                line-height: 55px;
                height: 55px;
                display: block;
                padding-right: 30px;
                padding-left: 30px;
                color: $blueText;
                img {
                    width: 30px;
                    position: relative;
                    top: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.container {
    width: 100%;

    /*height: 100%;*/
    min-height: 100%;

    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 200px;
    color: white;
}

.dropdown-container {
    position: relative;
    margin-right: 20px;
}

#dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50000;
}

.dropdown-close {
    width: 100%;
    height: 55px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: relative;
    right: 0;
    height: initial;
    background-color: $footerBlue;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 150px;
    box-shadow: 3px 5px 15px black;
    &:hover {
        display:block;
    }
    li {
        width: 100%;
        a {
            display: block;
            height: 25px;
            line-height: inherit;
        }
    }
}

header ul.dropdown li {
    height: 25px;
    line-height: 25px;
}

.horizontal-divider {
    height: 1px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px $hoverBlue;
}

.horizontal-divider.dropdown-top-border {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -10px;
}

.clearfix {
    clear: both;
}

footer {
    width: 100%;
    height: 50px;
    padding: 75px;
    background-color: $footerBlue;

    position: absolute;
    bottom: 0;

    color: $footerTextColor;
}

a {
    text-decoration: none;
    color: white;
    &.primary {
        padding: 8px 45px;
        background: $orange; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
        background: linear-gradient($yellow, $orange); /* Standard syntax */
        color: black;
        text-shadow: 1px 1px 1px #F0BA85;
        cursor: pointer;
        &.auth-form {
            display: block;
            width: 300px;
            padding: 15px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        &:hover {
            background: $orange; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient($orange, $yellow); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient($orange, $yellow); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient($orange, $yellow); /* For Firefox 3.6 to 15 */
            background: linear-gradient($orange, $yellow); /* Standard syntax */
        }
        &.submit-btn {
            padding: 3px 25px;
        }
    }
    &.secondary {
        padding: 8px 45px;
        background: $secondaryButtonBlue;
        color: $formFieldLightBlue;
        &:hover {
            background: $hoverBlue;
            color: $backgroundBlue;
        }
    }
    &.cta {
        /*padding: 8px 45px;*/
        background: $orange; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
        background: linear-gradient($yellow, $orange); /* Standard syntax */
        color: black;
        text-shadow: 1px 1px 1px #F0BA85;
        cursor: pointer;
        &.approval p {
            color: initial;
            font-size: 10px;
            display: initial;
        }
    }
}

.hide-element {
    display: none;
}

.logo {
    position: relative;
}

.logo img {
    width: 140px;
    position: absolute;
    top: 7px;
    left: 20px;
}

.test-2 {
    background: blue;
}

.homepage {
    width: 100%;
    min-height: 750px;
    background-image: url('../img/backhand.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: 2%;
    position: relative;
    &.react-container {
        background-image: none;
    }
}

.homepage-cta {
    position: absolute;
    top: 500px;
    left: 800px;
    box-shadow: 5px 5px 10px #001429;
}

.container-1600 {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 75px;
}

.ladder-detail-header {
    width: 92.5%;
    padding-left: 3.75%;
    padding-right: 3.75%;
    padding-bottom: 50px;
}

.ladder-rank-list, .scheduled-matches-container {
    padding-bottom: 7px;
    a, p {
        color: $formFieldLightBlue;
        font-size: 24px;
        display: inline-block;
    }
    a.cta.submit {
        font-size: 10px;
        color: black;
    }
}

.scheduled-matches-container {
    height: 1.5em;
    a, p {
        font-size: 20px;
    }
}

.player-a-container, .player-b-container {
    display: inline-block;
    width: 47%;
}

.player-a-container {
    float: left;
    text-align: right;
    padding-right: 2.5%;
    input.score {
        margin-right: 0;
    }
    p.player-name.no-margin {
        margin: 0;
    }
}

.player-b-container {
    float: right;
    text-align: left;
    padding-left: 2.5%;
    p.seed.no-margin {
        margin: 0;
        margin-right: 10px;
    }
}

.vs-container {
    width: 1%;
    float: left;
    position: relative;
    height: 10px;
}

.scheduled-matches-container p.vs, .scheduled-matches-container p.dash {
    position: absolute;
    left: -4px;
    color: $mutedTextBlue;
    font-size: 14px;
    top: 4px;
    &.score-entry {
        top: 8px;
    }
}

.scheduled-matches-container p.dash {
    color: $mutedTextBlue;
    left: 0;
    font-size: initial;
    top: 0;
    &.score-entry {
        top: 4px;
    }
}

.ladder-rank-list a.cta.approval {
    font-size: 10px;
}

.ladder-rank-list-wrapper, .scheduled-matches-list {
    padding-bottom: 140px;
}

.scheduled-matches-list.challenge-matches {
    padding-bottom: 50px;
}

.ladder-rank-list a.edit-btn.friendly {
    position: relative;
    top: -4px;
    left: 15px;
    font-size: 10px;
    &.approval-pending {
        cursor: default;
    }
    p {
        font-size: 10px;
        color: black;
        top: -4px;
    }
}

.ladder-rank-list a.schedule-btn {
    .pongup-ball-btn {
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        /*background-position: 0 2px;*/
        margin-left: 15px;
        position: relative;
        top: 1px;
        cursor: pointer;
    }
    &.challenge {
        .pongup-ball-btn {
            background-image: url('../img/pong-up-ball.png');    
        }
    }
    &.friendly {
        .pongup-ball-btn {
            background-image: url('../img/pong-up-ball-blue.png');
        }
    }
    
}

.__react_component_tooltip.place-right.type-light.tooltip {
    background: $formFieldLightBlue;
    color: $backgroundBlue;
}

.__react_component_tooltip.type-light.place-right.tooltip:after {
    border-right-color: $formFieldLightBlue;
}

.join-ladder-button {
    display: inline-block;
    margin-bottom: 30px;
}

.scheduled-matches-list {
    position: relative;
    a.primary.submit-btn {
        position: absolute;
        right: 90px;
        bottom: 15px;
    }
    li {
        position: relative;
        padding-bottom: 40px;
        padding: 18px 15px 33px 15px;
        /*border: 1px solid #002146;*/
        border: 1px solid #002752;
        /*border: 1px solid $mutedTextBlue;*/
        /*border: 1px solid #1A3552;*/
        margin-bottom: 10px;
        border-radius: 3px;
        box-shadow: 3px 3px 10px #00152d;
        text-align: center;
    }
    &.ladder-list {
        li {
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: left;
        }
    }
}


.acceptance-button-container, .submit-scores-button-container {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 10px;
    .submit-btn {
        padding: 5px 8px;
        margin-left: 5px;
        display: block;
        float: left;
        &.secondary {
            background-color: $mutedTextBlue;
            color: $backgroundBlue;
        }
    }
}

.scheduled-matches-container, .create-ladder-form, .ladder-rank-list {
    p.seed {
        margin-right: 10px;
    }
    input {
        background-color: $mutedTextBlue;
        border: 2px solid transparent;
        padding: 3px 8px;
        color: $formFieldLightBlue;
        width: 40px;
        position: relative;
        top: -3px;
        font-size: 15px;
        margin-right: 10px;
        text-align: center;
        &.error {
            border: 2px solid red;
        }
        &::-webkit-input-placeholder {
            color:    $backgroundBlue;
        }
        &:-moz-placeholder {
            color:    $backgroundBlue;
        }
        &::-moz-placeholder {
            color:    $backgroundBlue;
        }
        &:-ms-input-placeholder {
            color:    $backgroundBlue;
        }
    }
}

.player-a-container, .player-b-container {
    position: relative;
}

.player-a-container input {
    margin-left: 10px;
}

.player-a-container p.player-name {
    margin-right: 25px;
}

.player-b-container p.seed {
    margin-left: 25px;
}

.score-container {
    display: inline-block;
}

.datepicker-container {
    display: inline-block;
    width: inherit;
    .react-datepicker {
        top: 0;
    }
    &.match-scheduler-date-adjust {
        position: relative;
        top: 30px;
        padding-left: 52px;
        margin-right: 3px;
    }
}

.update-match-date-form .datepicker-container.match-scheduler-date-adjust {
    padding-left: 8px;
}

.timepicker-container {
    display: inline-block;
    border: none;
    margin-right: 3px;
}

.ladder-rank-list input {
    text-align: left;
    width: 28px;
    background-color: $backgroundBlue;
    color: $mutedTextBlue;
    font-size: 24px;
    padding: 1px 5px;
    position: relative;
    top: 1px;
    &.active {
        background-color: $mutedTextBlue;
        color: $formFieldLightBlue;
    }
    &.match-date {
        /*width: inherit;*/
        font-size: 14px;
        background-color: $mutedTextBlue;
        color: $backgroundBlue;
        top: -30px;
        padding: 3px 8px;
        text-align: center;
        width: 100px;
        margin-top: 15px;
        /*margin-bottom: 30px;*/
        /*margin-left: 52px;*/
        margin-bottom: 0;
        margin-right: 5px;
    }
}

.scheduled-matches-list input.match-date {
    font-size: 14px;
    background-color: $mutedTextBlue;
    color: $backgroundBlue;
    border: 2px solid transparent;
    top: -30px;
    position: relative;
    padding: 3px 8px;
    text-align: center;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 5px;
}

.rankings-header {
    float: left;
}

.clearfix {
    clear: both;
}

.right {
    float: right;
}

.edit-btn {
    padding: 5px 10px;
    font-size: 10px;
    color: $backgroundBlue;
    background-color: $mutedTextBlue;
    &:hover {
        cursor: pointer;
    }
    &.approval {
        position: relative;
        top: -5px;
        left: 15px;
    }
}

.Select.match-hour-picker, .Select.match-min-picker, .Select.match-am-picker {
    position: relative;
    top: 14px;
    font-size: 15px;
    color: $backgroundBlue;
    background-color: $mutedTextBlue;
    padding-bottom: 0;
    padding-top: 5px;
    height: 22px;
    /*width: 22px;*/
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    width: 16px;
}

.time-separator {
    font-size: 15px;
    color: $mutedTextBlue;
    margin-left: 1px;
    margin-right: 1px;
    position: relative;
    top: -2px;
}

.Select-menu-outer {
    cursor: pointer;
    position: absolute;
    top: 28px;
    background-color: $mutedTextBlue;
    color: $backgroundBlue;
    height: 125px;
    overflow-y: scroll;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 9879879797;
    border: 1px solid $backgroundBlue;
    box-shadow: 3px 3px 10px $backgroundBlue;
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        -webkit-border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px #22476D;
        background-color: $mutedTextBlue;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #22476D;
        -webkit-box-shadow: inset 0 0 6px $backgroundBlue;
    }
}

/*.Select-menu-outer {

}*/

.Select.match-hour-picker {
    /*padding-left: 8px;*/
    /*padding-right: 3px;*/
    text-align: right;
    .Select-menu-outer {
        /*padding-left: 8px;*/
        /*padding-right: 3px;*/
        left: 0;
    }
}

.Select.match-min-picker {
    /*padding-left: 3px;*/
    /*padding-right: 8px;*/
    text-align: left;
    .Select-menu-outer {
        /*padding-left: 3px;*/
        left: 0;
    }
}

.Select.match-am-picker {
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    margin-left: 3px;
    text-align: center;
    /*padding-left: 3px;*/
    /*padding-right: 3px;*/
    margin-right: 5px;
    width: 20px;
    .Select-menu-outer {
        overflow-y: hidden; 
        height: auto;
        padding-bottom: 8px;
        left: 0;
    }
}

/*p.approval-pending {
    position: relative;
    left: 15px;
    background-color: $formFieldLightBlue;
    color: $backgroundBlue;
    padding: 3px 7px;
    font-size: 10px;
    top: -4px;
}*/

.create-ladder-form input {
    width: 50%;
    text-align: left;
    display: block;
    margin-bottom: 30px;
    padding: 10px 15px;
    font-size: 16px;
}

p.rank {
    display: inline-block;
    float: left;
    width: 35px;
}

.header-label, p.seed {
    color: $mutedTextBlue;
}

p.seed.no-matches-msg {
    font-size: 15px;
}

.header-label {
    padding-bottom: 7px;
    &.category {
        padding-bottom: 20px;
        color: $formFieldLightBlue;
    }
    &.ladder-list {
        /*color: $formFieldLightBlue;*/
        font-size: 18px;
    }
    &.ladder-management-message {
        /*padding-bottom: 60px;*/
        /*color: $formFieldLightBlue;*/
        font-size: 14px;
    }
}

.ladder-name {
    color: $formFieldLightBlue;
}

.left-wrapper, .right-wrapper {
    width: 43.75%;
    min-height: 100px;
}

.left-wrapper {
    padding-left: 3.75%;
    padding-right: 2.5%;
    float: left;
}

.right-wrapper {
    padding-left: 2.5%;
    padding-right: 3.75%;
    float: right;
}

.form-wrapper {
    width: 330px;
    /*height: 360px;*/
    position: absolute;
    top: 75px;
    right: 17%;
    background-color: $footerBlue;
    padding: 55px;
    box-shadow: 10px 10px 15px $backgroundBlue;
    &.login {

    }
    a.secondary-link {
        color: $formFieldLightBlue;
        padding-bottom: 10px;
        display: block;
        font-size: 14px;
        &.lost-password {
            position: relative;
            top: -50px;
            float: right;
            color: #024da0;
            &:hover {
                color: $formFieldLightBlue;
            }
        }
    }
    a.secondary {
        width: 300px;
        padding: 15px;
        font-size: 16px;
        display: block;
        text-align: center;
    }
    input {
        background-color: $formFieldLightBlue;
        color: $backgroundBlue;
        border: none;
        width: 300px;
        display: block;
        padding: 15px;
        margin-bottom: 40px;
        font-size: 16px;
        &[type="submit"] {
            cursor: pointer;
            margin-right: 0;
            width: 330px;
            background: $orange; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient($yellow, $orange); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient($yellow, $orange); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient($yellow, $orange); /* For Firefox 3.6 to 15 */
            background: linear-gradient($yellow, $orange); /* Standard syntax */
            color: black;
            text-shadow: 1px 1px 1px #F0BA85;
            margin-bottom: 60px;
            &:hover {
                background: $orange; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient($orange, $yellow); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient($orange, $yellow); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient($orange, $yellow); /* For Firefox 3.6 to 15 */
                background: linear-gradient($orange, $yellow); /* Standard syntax */
            }
        }
        &::-webkit-input-placeholder {
            color:    $formFieldTextBlue;
        }
        &:-moz-placeholder {
            color:    $formFieldTextBlue;
        }
        &::-moz-placeholder {
            color:    $formFieldTextBlue;
        }
        &:-ms-input-placeholder {
            color:    $formFieldTextBlue;
        }
    }
}

.pongup-soon {
    padding-bottom: 20px;
}

.error {
    position: absolute;
    top: 22px;
    color: red;
    font-size: 11px;
}

.ladder-name {
    /*color: $blueText;*/
    padding-bottom: 15px;
}

.header-label span.emphasis {
    color: $formFieldLightBlue;
    margin-left: 7px;
}

.header-label {
    &.start-date {
        float: left;
        margin-right: 35px;
    }
}

.match-date-container {
    position: absolute;
    left: 15px;
    bottom: 8px;
}

p.header-label.match-date {
    float: left;
    padding-bottom: 0;
}

.start-date, .end-date, .location, .match-date {
    font-size: 0.75em;
}

.pending-match {
    font-size: 0.55em;
    color: $formFieldLightBlue;
    /*background-color: $mutedTextBlue;*/
    float: left;
    font-weight: 100;
    padding: 2px 8px 2px 8px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

///////////

  //    DATEPICKER

////////

.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px;
}

.react-datepicker__navigation {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 6px solid transparent;
}
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}
.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc;
}
.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc;
}
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc;
}
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__month {
  margin: 5px;
  text-align: center;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
}

.react-datepicker__day {
  cursor: pointer;
}
.react-datepicker__day:hover {
  border-radius: 4px;
  background-color: #f0f0f0;
}
.react-datepicker__day--today {
  font-weight: bold;
}
.react-datepicker__day--selected, .react-datepicker__day--in-range {
  border-radius: 4px;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc;
}
.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.react-datepicker__year-read-view:hover {
  cursor: pointer;
}
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #ccc;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: 6px;
}
.react-datepicker__year-read-view--selected-year {
  right: 6px;
  position: relative;
}

.react-datepicker__year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}
.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__year-option:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.react-datepicker__year-option:hover {
  background-color: #ccc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px;
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.react-datepicker__tether-element {
  z-index: 2147483647;
}

.react-datepicker {
    top: -30px;
}
